* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --gray: #E8E8E8;
    --text-gray: #696969;
    --black: #1E1E1E;
    --disabled-bg: #BABABA;
    --golden-yellow: #D3AC0C;
}

.login-img {
    background-image: url(../img/login-img.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.log-in {
    height: 100vh;
    background-color: var(--gray);
}

.img-text {
    font-size: 1rem;
}

.form-width {
    width: 22rem;
}

.text-grey {
    color: var(--text-gray);
}

.log-in-btn.disabled {
    background-color: var(--disabled-bg);
    border: 1px solid var(--disabled-bg);
}

.log-in-btn {
    background-color: var(--black);
    color: #fff;
    border-radius: 10px;
    border: 1px solid var(--black);
    transition: 0.25s ease-in-out;
}

.form-check-input {
    background-color: transparent !important;
}

.form-check-input:checked {
    background-color: var(--black) !important;
}

.p-input {
    padding: 0.6rem !important;
}

.show {
    font-size: 0.8rem !important;
    color: var(--golden-yellow) !important;
}

.show:focus-visible {
    outline: none;
}


@media (max-width: 992px) {
    .img-text {
        font-size: 0.7rem;
    }
}